<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cuba-example-using-wizard"
                      transaction-type="RESOURCE_LOCAL">
        <class>de.diedavids.cuba.ceuw.entity.Customer</class>
        <class>de.diedavids.cuba.ceuw.entity.Address</class>
        <class>de.diedavids.cuba.ceuw.entity.Order</class>
        <class>de.diedavids.cuba.ceuw.entity.OrderLine</class>
        <class>de.diedavids.cuba.ceuw.entity.Product</class>
        <class>de.diedavids.cuba.ceuw.entity.ProductPrice</class>
    </persistence-unit>
</persistence>
